bashrc.d/*_private.bash
*.private
/config/coc
/config/configstore
/config/direnv/allow
/config/nvim/pack/bundle/opt 
/config/nvim/pack/bundle/start/
/config/nvim/pack/minpac/opt/
/config/nvim/pack/minpac/start/
/config/yarn
/vim/plugged
vim/.netrwhist
vim/spell/*.add
vim/spell/*.spl
vim/spell/*.sug
vim/unite/history*
vim/unite/rec/
